nav ul{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    padding: 20px;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 3px solid black;
}
.para{
    border: 2px solid black;
    padding: 80px;
}
h2{
    padding: 10px;
}
.chi{
    border: 2px solid black;
    width: 1100px;
}
.art{
    border: 2px solid black;
    padding: 30px;
    
}
nav a{
    color: black;
    text-decoration: none;
    
}